{% include "base/header.html"  %}

<form method="POST" >
    <div class="form-group">
        <label for="titre">Titre</label>
        <input type="text" class="form-control" name="titre" id="titre" value="{{titre}}">
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" name="description" id="description" value="{{description}}">
    </div>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" name="done" id="done" {% if done %}checked{% endif %}>
        <label class="form-check-label" for="done">Fait</label>
    </div>
    <button type="submit" class="btn btn-primary">Mettre à jour</button>
</form>
{% include "base/footer.html"  %}