{% include "base/header.html" %}
<header>
    <h1>{{ title }}</h1>
    <a href="{{ url_for('creerTodo') }}" class="btn btn-success">+</a>
</header>
<section>
    <div class="d-flex m-2">
        {% for todo in todos %}
        <div class="card m-2" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{todo.titre}}
                    {% if todo.done %}
                        <span class="badge badge-success">Fait</span>
                    {% else %}
                        <span class="badge badge-danger">À faire</span>
                    {% endif %}
                </h5>
                <p class="card-text">{{ todo.description }}</p>
                <a href="{{ url_for('modifTodo',id=todo.id)}}" class="btn btn-primary">Editer</a>
                <a href="{{ url_for('supprimerTodo',id=todo.id)}}" class="btn btn-danger">Supprimer</a>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% include "base/footer.html" %}