<!--
    Ceci est le template de base de toutes mes pages HTML
    C'est ici que je définie la structure principale de mon site
    Je peut définir des blocks qui pourront être modifé si une page hérite de ce template
-->
<!DOCTYPE html>
<html lang="fr">
<!-- ici par exemple je défini un block header, je peut le réécrire entierement dans un template enfant si j'en ai besoin en appelant ce block -->
{% block header %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <!-- block style qui me permet d'ajouter une feuille de style dans un template enfant si besoin (voir page home.html) -->
    {% block style %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% endblock %}
</head>
{% endblock %}

<!-- le haut de mon body, il n'est pas dans un block, je ne peut donc pas le réécrire, il serra présent sur toutes mes pages -->
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('home')}}">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('accueilTodo') }}">Todos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('accueilUser') }}">Utilisateurs</a>
                </li>
        </div>
    </nav>
    {% block body %}
        <!-- ici par contre j'ai défini un block body. Pour y ajouter du contenu je n'ai qu'a mettre le code entre les deux block dans le template enfant -->
    {% endblock %}
    {% block footer %}
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    {% endblock %}
</body>
</html>