<div class="container">

    <form [formGroup]="todoForm" (ngSubmit)="addTodo()">
        <label for="title">Titre</label>
        <input type="text" class="form-control" id="title" formControlName="title">
        <div *ngIf="!this.todoForm.controls.title.valid" class="alert alert-danger" role="alert">
            Le titre est requis !
        </div>
        <label for="description">Description</label>
        <textarea id="description" formControlName="description" class="form-control"></textarea>
        <button type="submit" class="btn btn-primary" [disabled]="!todoForm.valid">Ajouter</button>
    </form>

    <div class="d-flex ">
        <div *ngFor="let todo of todos" class="card" style="width: 18rem;">
            <div class="card-body">
                <div class="card-title">
                    {{ todo.title }}
                    <span class="badge badge-danger float-right" (click)="deleteTodo(todo.id)">X</span>
                </div>
                <p class="card-text">{{ todo.description }}</p>
                <div class="text-center" (click)="changeDone(todo)">
                    <span *ngIf="todo.done" class="badge badge-pill badge-success">Fait</span>
                    <span *ngIf="!todo.done" class="badge badge-pill badge-danger">A faire</span>
                </div>
            </div>
        </div>
    </div>
</div>