.jumbo {
    background-image: url("../images/eberhard-grossgasteiger-YBPIQ3JPdvo-unsplash.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

article {
    padding: 2%;
}

aside {
    padding: 2%;
}

aside a:hover {
    background-color: #e2e2e2;
}
