<!-- Utilisation de l"héritage de template de jinja https://svn.python.org/projects/external/Jinja-1.1/docs/build/inheritance.html -->
{% extends "base/base.html" %}
<!-- le block Style me permet de modifier le block style de base/base.html -->
{% block style %}
    <!-- La méthode super permet d'ajouter le code déja présent dans le template parent (base/base.html) -->
    {{ super() }}
    <!-- J'y ajoute mon css perso, qui ne sera donc chargé que sur cette page -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- et j'oublie pas de fermer mon block ! -->
{% endblock %}
<!-- même principe avec le block body ! -->
{% block body %}
<div class="jumbotron jumbo text-light">
    <h1 class="display-4">Démo Flask</h1>
    <p class="lead">Ceci est une démo de ce qu'on peut faire avec Flask et Jinja !</p>
    <hr class="my-4">
    <p class="text-center">Le code de cette page a été généré avec Jinja, <a href="https://gitlab.com/CheeseWolt/demo-ajc/-/blob/master/api-ville/app/templates/home.html">jettez un oeil au template !</a></p>
</div>
<div>
    <h2>un peu de texte</h2>
    <article>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam eligendi velit obcaecati quisquam blanditiis laboriosam quis, totam rerum nisi dicta temporibus natus libero modi id soluta dolorum fugit hic quos.
        Delectus cum voluptatem repudiandae quod doloribus est, quo dolore ipsa soluta velit dicta totam asperiores sapiente earum? Ipsum aperiam sit ducimus reprehenderit saepe, cum atque, nam odio illo, quia qui!
        Sapiente blanditiis nulla maxime enim eveniet voluptate ea deserunt temporibus, unde iusto perspiciatis quaerat cupiditate laboriosam quod alias pariatur omnis, doloribus voluptatem. Provident nesciunt dolorum fugiat deserunt voluptate, hic alias.
        Atque facere deserunt at quis dolorum aliquid rem modi quos assumenda, laudantium maxime tempore exercitationem, veniam nam dolore provident iusto, laboriosam voluptas illum alias nulla. Possimus maxime eligendi nemo consectetur!
        Iusto ratione eaque dicta suscipit, iste aliquid distinctio assumenda corporis quis quae labore odio molestias quia eligendi perferendis atque tenetur dignissimos provident ab eum. Fuga eveniet reiciendis adipisci amet at.
        Saepe, amet obcaecati ad consequatur eos inventore voluptas molestiae tenetur quia vitae facilis repudiandae, dicta accusamus odit aspernatur officiis nesciunt sit placeat? Assumenda exercitationem distinctio quo nemo accusantium nesciunt. Quis.
        Ratione iste nesciunt beatae fugit commodi facere vel dicta laborum aperiam consequuntur repudiandae libero repellendus, doloremque possimus, saepe cupiditate. Distinctio ad alias corrupti aperiam minima, veniam ab architecto nisi laborum.
        Iste sed rem ipsum velit explicabo veritatis eligendi nostrum quod id ab, temporibus autem fugit facilis iusto quisquam itaque corrupti. Amet expedita facere distinctio rerum ullam obcaecati voluptate tenetur minus.
        Autem earum officiis voluptates, maiores maxime quibusdam cumque, velit blanditiis accusamus asperiores animi deleniti hic soluta accusantium repudiandae odio qui cum facilis, vel repellendus recusandae! Vitae iste eius nobis tenetur!
        Maiores accusamus laudantium mollitia cumque voluptates ipsum molestiae reprehenderit temporibus similique est iusto cupiditate sed quis labore ea, doloribus voluptas doloremque, dicta quae quam dolore. Ea non atque suscipit voluptate!
        Alias ea illum mollitia in harum dolorem tempora ad eaque recusandae, quidem quaerat deserunt non, placeat quis. Tempora soluta corporis, pariatur repudiandae quisquam quos tempore iste ad numquam aliquam neque.
        Ratione voluptatum, magni quia aperiam, nam libero quas illo est quasi fugit, numquam aliquid eos omnis. Libero recusandae ex eum id, qui dolores, repudiandae tempore delectus similique vitae quod nemo.
        Maiores quod beatae quis quidem, id neque laudantium nihil quae porro, debitis suscipit. Modi quasi mollitia maxime a adipisci ratione, commodi dolor eligendi explicabo exercitationem nihil, quis magni alias quia!
        Totam quo voluptatem ipsam neque consequatur voluptatum nostrum blanditiis fuga reiciendis sequi nisi cupiditate dolorem provident excepturi qui possimus autem eum, illo quasi rem amet sint porro. Dolore, officiis voluptates?
        A, molestias molestiae dolorem adipisci reprehenderit earum. Dicta laboriosam cupiditate molestiae nulla. Facilis quos architecto atque earum deleniti ipsam autem, dicta nam voluptatum nobis, quasi nostrum quisquam laboriosam quae rerum.
        Tempora recusandae praesentium reiciendis sed ea nemo quod corporis. Id veritatis porro, tempora quibusdam provident esse quaerat beatae maxime doloribus consequatur exercitationem aspernatur! Exercitationem quo mollitia ut reiciendis, porro facere?
        Debitis ex praesentium velit aspernatur harum optio esse fuga, vitae aliquam, eius eos deleniti rem porro. Tempore assumenda, quaerat iure eius quae necessitatibus, doloribus corporis, quos dolore repellat quis voluptatum.
        Maiores exercitationem repellat reiciendis voluptatem consectetur labore eaque possimus optio, enim explicabo provident animi iure quaerat perferendis tenetur temporibus voluptatum assumenda vero saepe mollitia dolores. Autem sequi quo necessitatibus odio!
        Ipsum neque blanditiis molestiae nostrum necessitatibus natus inventore earum quidem reiciendis beatae laboriosam dolorum, id, eaque, architecto eligendi. Beatae, a qui. Accusamus ut ipsa qui quod autem in laudantium debitis.
        Similique perspiciatis at ipsum doloribus cum aut tempora quae. Aliquid quisquam commodi fugit ea voluptates excepturi cum vel, veniam hic quae ut quaerat quo? Fuga aspernatur modi eum temporibus in!
        Temporibus vitae expedita sunt magni? Accusantium sed, amet ducimus ipsum facilis, ex placeat, numquam similique corporis quam reiciendis iste in nostrum. Dolorem beatae temporibus voluptatum saepe inventore praesentium molestias at?
        Rem nesciunt omnis aut dignissimos maiores fugiat explicabo vitae dolorem commodi harum impedit sequi, culpa inventore debitis expedita illo error quibusdam corrupti dolores voluptas ratione beatae labore blanditiis. Perferendis, quos.
        Minima, placeat animi quia iusto similique dolorum voluptas corporis ratione quam voluptatem labore? Recusandae eligendi suscipit id dignissimos quasi fuga, maxime excepturi officiis molestias labore sed, veniam ea quo cum?
        Enim molestias earum fugiat modi tenetur consequatur, iure distinctio minus laudantium, perspiciatis velit! Laboriosam ea a ab autem dolores rerum nemo omnis vel, voluptatem quis minus, ut quidem repellat tempore!
        Consectetur laboriosam nihil praesentium dolore eos maxime eveniet mollitia fugiat. Necessitatibus, doloremque dolore iusto mollitia atque saepe quaerat perferendis, itaque culpa blanditiis ipsa, ipsam provident sunt maxime consequatur cumque corrupti!
        Blanditiis, culpa ullam? Repellendus eligendi quo modi laudantium doloremque quasi omnis harum, cum, quod necessitatibus accusamus rem reprehenderit tempore blanditiis voluptatibus quaerat amet inventore magni hic repudiandae veritatis? Blanditiis, fugit.
        Inventore, eos possimus! Nobis mollitia quam dignissimos iste et optio, aut earum suscipit alias, doloremque soluta esse nostrum. Ut praesentium ratione, ipsum laudantium illum eos dolor velit porro quod ipsa.
        Sequi eveniet nisi facere impedit ad et harum nam, itaque quas dolorum quidem ut rem modi, fuga id numquam iusto ex accusantium. Magnam, quis laboriosam! Iste itaque iure quae nisi.
        Tempore, culpa totam amet natus asperiores ducimus tenetur, aspernatur atque quo placeat pariatur itaque accusantium numquam at magni ut, perspiciatis aut quod laboriosam. Debitis est saepe, praesentium ab a deleniti!
        Omnis nulla accusamus, eos exercitationem inventore alias numquam sed porro laboriosam cupiditate fugit possimus ad amet maxime nobis illo! Commodi tempore eligendi asperiores architecto ducimus esse accusamus harum error temporibus.
    </article>
    <h2 class="jumbotron jumbo text-light">La parallax c'est cool m'voyez</h2>
    <article>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam eligendi velit obcaecati quisquam blanditiis laboriosam quis, totam rerum nisi dicta temporibus natus libero modi id soluta dolorum fugit hic quos.
        Delectus cum voluptatem repudiandae quod doloribus est, quo dolore ipsa soluta velit dicta totam asperiores sapiente earum? Ipsum aperiam sit ducimus reprehenderit saepe, cum atque, nam odio illo, quia qui!
        Sapiente blanditiis nulla maxime enim eveniet voluptate ea deserunt temporibus, unde iusto perspiciatis quaerat cupiditate laboriosam quod alias pariatur omnis, doloribus voluptatem. Provident nesciunt dolorum fugiat deserunt voluptate, hic alias.
        Atque facere deserunt at quis dolorum aliquid rem modi quos assumenda, laudantium maxime tempore exercitationem, veniam nam dolore provident iusto, laboriosam voluptas illum alias nulla. Possimus maxime eligendi nemo consectetur!
        Iusto ratione eaque dicta suscipit, iste aliquid distinctio assumenda corporis quis quae labore odio molestias quia eligendi perferendis atque tenetur dignissimos provident ab eum. Fuga eveniet reiciendis adipisci amet at.
        Saepe, amet obcaecati ad consequatur eos inventore voluptas molestiae tenetur quia vitae facilis repudiandae, dicta accusamus odit aspernatur officiis nesciunt sit placeat? Assumenda exercitationem distinctio quo nemo accusantium nesciunt. Quis.
        Ratione iste nesciunt beatae fugit commodi facere vel dicta laborum aperiam consequuntur repudiandae libero repellendus, doloremque possimus, saepe cupiditate. Distinctio ad alias corrupti aperiam minima, veniam ab architecto nisi laborum.
        Iste sed rem ipsum velit explicabo veritatis eligendi nostrum quod id ab, temporibus autem fugit facilis iusto quisquam itaque corrupti. Amet expedita facere distinctio rerum ullam obcaecati voluptate tenetur minus.
        Autem earum officiis voluptates, maiores maxime quibusdam cumque, velit blanditiis accusamus asperiores animi deleniti hic soluta accusantium repudiandae odio qui cum facilis, vel repellendus recusandae! Vitae iste eius nobis tenetur!
        Maiores accusamus laudantium mollitia cumque voluptates ipsum molestiae reprehenderit temporibus similique est iusto cupiditate sed quis labore ea, doloribus voluptas doloremque, dicta quae quam dolore. Ea non atque suscipit voluptate!
        Alias ea illum mollitia in harum dolorem tempora ad eaque recusandae, quidem quaerat deserunt non, placeat quis. Tempora soluta corporis, pariatur repudiandae quisquam quos tempore iste ad numquam aliquam neque.
        Ratione voluptatum, magni quia aperiam, nam libero quas illo est quasi fugit, numquam aliquid eos omnis. Libero recusandae ex eum id, qui dolores, repudiandae tempore delectus similique vitae quod nemo.
        Maiores quod beatae quis quidem, id neque laudantium nihil quae porro, debitis suscipit. Modi quasi mollitia maxime a adipisci ratione, commodi dolor eligendi explicabo exercitationem nihil, quis magni alias quia!
        Totam quo voluptatem ipsam neque consequatur voluptatum nostrum blanditiis fuga reiciendis sequi nisi cupiditate dolorem provident excepturi qui possimus autem eum, illo quasi rem amet sint porro. Dolore, officiis voluptates?
        A, molestias molestiae dolorem adipisci reprehenderit earum. Dicta laboriosam cupiditate molestiae nulla. Facilis quos architecto atque earum deleniti ipsam autem, dicta nam voluptatum nobis, quasi nostrum quisquam laboriosam quae rerum.
        Tempora recusandae praesentium reiciendis sed ea nemo quod corporis. Id veritatis porro, tempora quibusdam provident esse quaerat beatae maxime doloribus consequatur exercitationem aspernatur! Exercitationem quo mollitia ut reiciendis, porro facere?
        Debitis ex praesentium velit aspernatur harum optio esse fuga, vitae aliquam, eius eos deleniti rem porro. Tempore assumenda, quaerat iure eius quae necessitatibus, doloribus corporis, quos dolore repellat quis voluptatum.
        Maiores exercitationem repellat reiciendis voluptatem consectetur labore eaque possimus optio, enim explicabo provident animi iure quaerat perferendis tenetur temporibus voluptatum assumenda vero saepe mollitia dolores. Autem sequi quo necessitatibus odio!
        Ipsum neque blanditiis molestiae nostrum necessitatibus natus inventore earum quidem reiciendis beatae laboriosam dolorum, id, eaque, architecto eligendi. Beatae, a qui. Accusamus ut ipsa qui quod autem in laudantium debitis.
        Similique perspiciatis at ipsum doloribus cum aut tempora quae. Aliquid quisquam commodi fugit ea voluptates excepturi cum vel, veniam hic quae ut quaerat quo? Fuga aspernatur modi eum temporibus in!
        Temporibus vitae expedita sunt magni? Accusantium sed, amet ducimus ipsum facilis, ex placeat, numquam similique corporis quam reiciendis iste in nostrum. Dolorem beatae temporibus voluptatum saepe inventore praesentium molestias at?
        Rem nesciunt omnis aut dignissimos maiores fugiat explicabo vitae dolorem commodi harum impedit sequi, culpa inventore debitis expedita illo error quibusdam corrupti dolores voluptas ratione beatae labore blanditiis. Perferendis, quos.
        Minima, placeat animi quia iusto similique dolorum voluptas corporis ratione quam voluptatem labore? Recusandae eligendi suscipit id dignissimos quasi fuga, maxime excepturi officiis molestias labore sed, veniam ea quo cum?
        Enim molestias earum fugiat modi tenetur consequatur, iure distinctio minus laudantium, perspiciatis velit! Laboriosam ea a ab autem dolores rerum nemo omnis vel, voluptatem quis minus, ut quidem repellat tempore!
        Consectetur laboriosam nihil praesentium dolore eos maxime eveniet mollitia fugiat. Necessitatibus, doloremque dolore iusto mollitia atque saepe quaerat perferendis, itaque culpa blanditiis ipsa, ipsam provident sunt maxime consequatur cumque corrupti!
        Blanditiis, culpa ullam? Repellendus eligendi quo modi laudantium doloremque quasi omnis harum, cum, quod necessitatibus accusamus rem reprehenderit tempore blanditiis voluptatibus quaerat amet inventore magni hic repudiandae veritatis? Blanditiis, fugit.
        Inventore, eos possimus! Nobis mollitia quam dignissimos iste et optio, aut earum suscipit alias, doloremque soluta esse nostrum. Ut praesentium ratione, ipsum laudantium illum eos dolor velit porro quod ipsa.
        Sequi eveniet nisi facere impedit ad et harum nam, itaque quas dolorum quidem ut rem modi, fuga id numquam iusto ex accusantium. Magnam, quis laboriosam! Iste itaque iure quae nisi.
        Tempore, culpa totam amet natus asperiores ducimus tenetur, aspernatur atque quo placeat pariatur itaque accusantium numquam at magni ut, perspiciatis aut quod laboriosam. Debitis est saepe, praesentium ab a deleniti!
        Omnis nulla accusamus, eos exercitationem inventore alias numquam sed porro laboriosam cupiditate fugit possimus ad amet maxime nobis illo! Commodi tempore eligendi asperiores architecto ducimus esse accusamus harum error temporibus.
    </article>
</div>
{% endblock %}
<!-- et on oublie pas de fermer son block ! -->