{% include "base/header.html" %}
<header>
    <h1>{{ title }}</h1>
</header>
<section>
    <div class="d-flex m-2">
        {% for user in utilisateurs %}
        <div class="card m-2" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ user.pseudo }}</h5>
                <a href="mailto:{{ user.email }}" class="btn btn-outline-secondary">{{ user.email }}</a>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% include "base/footer.html" %}