<div class="container mt-4 d-flex ">
    <div *ngFor="let user of utilisateurs" class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ user.pseudo }}</h5>
            <p class="card-text">{{ user.pseudo }} habite la jolie ville de {{ user.ville }}</p>
        </div>
    </div>
</div>