<div class="container mt-4">
    <div class="py-5 text-center">
        <h1>Super formulaire dynamique</h1>
        <h2>avec contrôle des champs et remplissage via webservice des selects</h2>            
    </div>
    <form [formGroup]="inscription" (ngSubmit)="submit()">
        <div class="form-group row">
            <div class="col-md-6">
                <label for="pseudo">Pseudo</label>
                <input type="text" class="form-control" id="pseudo" formControlName="pseudo">
                <div *ngIf="!this.inscription.controls.pseudo.valid" class="alert alert-danger" role="alert">
                    Le pseudo est requis !
                </div>
            </div>
            <div class="col-md-6">
                <label for="email">Adresse Email</label>
                <input type="email" class="form-control" id="email" formControlName="email">
                <div *ngIf="!this.inscription.controls.email.valid" class="alert alert-danger" role="alert">
                    Adresse mail invalide !
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-6">
                <label for="password">Mot de passe</label>
                <input type="password" class="form-control" id="password" formControlName="password">
                <div *ngIf="!this.inscription.controls.password.valid" class="alert alert-danger" role="alert">
                    Le mot de passe doit faire au moins 5 caractères de long
                </div>
            </div>
            <div class="col-md-6">
                <label for="password_confirm">Confirmer le mot de passe</label>
                <input type="password" class="form-control" id="password_confirm" formControlName="password_confirm">
                <div *ngIf="this.inscription.value.password != this.inscription.value.password_confirm" class="alert alert-danger" role="alert">
                    Les mots de passes sont différents !
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="region">Region</label>
            <select class="form-control" id="region" formControlName="region" (change)="fillDepartements()">
                <option *ngFor="let region of regions" [value]="region.name">{{region.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="departement">Departement</label>
            <select class="form-control" id="departement" formControlName="departement" (change)="fillVilles()">
                <option *ngFor="let departement of departements" [value]="departement.name">
                    {{ departement.code + " - " + departement.name }}
                </option>
            </select>
        </div>
        <div class="form-group">
            <label for="ville">Ville</label>
            <select class="form-control" id="ville" formControlName="ville">
                <option *ngFor="let ville of villes" [value]="ville.id">{{ ville.zipcode + " - " + ville.name }}
                </option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!inscription.valid">Valider</button>
    </form>
</div>